
.icon-guss_facebook:before { content: '\e800'; } /* '' */
.icon-guss_user:before { content: '\e801'; } /* '' */
.icon-guss_shop:before { content: '\e802'; } /* '' */
.icon-guss_close:before { content: '\e803'; } /* '' */
.icon-guss_search:before { content: '\e804'; } /* '' */
.icon-guss_like:before { content: '\e805'; } /* '' */
.icon-guss_likeit:before { content: '\e806'; } /* '' */
.icon-guss_share:before { content: '\e807'; } /* '' */
.icon-guss_save:before { content: '\e808'; } /* '' */
.icon-guss_email:before { content: '\e809'; } /* '' */
.icon-guss_instagram:before { content: '\e80a'; } /* '' */
.icon-guss_twitter:before { content: '\e80b'; } /* '' */
.icon-guss_whatsapp:before { content: '\e80c'; } /* '' */
.icon-guss_clock:before { content: '\e80d'; } /* '' */
.icon-guss_location:before { content: '\e80e'; } /* '' */
.icon-guss_profile:before { content: '\e80f'; } /* '' */
.icon-guss_logo:before { content: '\e810'; } /* '' */