@font-face {
  font-family: 'guss_app';
  src: url('../font/guss_app.eot?30864048');
  src: url('../font/guss_app.eot?30864048#iefix') format('embedded-opentype'),
       url('../font/guss_app.woff2?30864048') format('woff2'),
       url('../font/guss_app.woff?30864048') format('woff'),
       url('../font/guss_app.ttf?30864048') format('truetype'),
       url('../font/guss_app.svg?30864048#guss_app') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'guss_app';
    src: url('../font/guss_app.svg?30864048#guss_app') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "guss_app";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-guss_facebook:before { content: '\e800'; } /* '' */
.icon-guss_user:before { content: '\e801'; } /* '' */
.icon-guss_shop:before { content: '\e802'; } /* '' */
.icon-guss_close:before { content: '\e803'; } /* '' */
.icon-guss_search:before { content: '\e804'; } /* '' */
.icon-guss_like:before { content: '\e805'; } /* '' */
.icon-guss_likeit:before { content: '\e806'; } /* '' */
.icon-guss_share:before { content: '\e807'; } /* '' */
.icon-guss_save:before { content: '\e808'; } /* '' */
.icon-guss_email:before { content: '\e809'; } /* '' */
.icon-guss_instagram:before { content: '\e80a'; } /* '' */
.icon-guss_twitter:before { content: '\e80b'; } /* '' */
.icon-guss_whatsapp:before { content: '\e80c'; } /* '' */
.icon-guss_clock:before { content: '\e80d'; } /* '' */
.icon-guss_location:before { content: '\e80e'; } /* '' */
.icon-guss_profile:before { content: '\e80f'; } /* '' */
.icon-guss_logo:before { content: '\e810'; } /* '' */